@mixin paper-corner($length, $curlAmt, $cornerX, $cornerY, $vertical, $sheetColor, $place) {
  @if $vertical {
    border-#{$cornerY}-#{$cornerX}-radius: $curlAmt $length;
  } @else {
    border-#{$cornerY}-#{$cornerX}-radius: $length $curlAmt;
  }
  overflow: hidden;
  &:#{$place} {
    content: '';
    display: block;
    position: absolute;
    z-index: $z-index-main + 2;
    width: 0;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;

    $overflowAmt: calc($curlAmt / -2);
    $colorBorder: darken($sheetColor, 10%);
    $colorBorderWidth: $curlAmt;
    $borderSmall: $curlAmt;
    $borderLong: ($length - $curlAmt);
    @if $vertical {
      #{$cornerX}: 0;
      #{$cornerY}: $overflowAmt;
      border-#{$cornerX}-color: $colorBorder;
      border-#{$cornerX}-width: $colorBorderWidth;
      border-#{$cornerY}-width: $borderSmall;
      @if $cornerY == top {
        border-bottom-width: $borderLong;
      } @else {
        border-top-width: $borderLong;
      }
    } @else {
      #{$cornerY}: 0;
      #{$cornerX}: $overflowAmt;
      border-#{$cornerY}-color: $colorBorder;
      border-#{$cornerY}-width: $colorBorderWidth;
      border-#{$cornerX}-width: $borderSmall;
      @if $cornerX == right {
        border-left-width: $borderLong;
      } @else {
        border-right-width: $borderLong;
      }
    }
  }
}