$table-color: #dccfc0;

$paper-color: #f2eee7;
$paper-color-light: #f9f7f4;
$paper-color-shadow: darken($paper-color, 10%);
$jar-color: #ceccc6;

$primary-dark: #231f20;
$primary-light: #ffffff;
// $custom-pink: #f90b7d;
// $custom-pink: #dd0379;
$custom-pink: #d30275;

$glass-color: #ceccc6;