@import './styles/variables-and-helpers.scss';

$ink-bottle-anim-speed: 0.3s;

.ink-blot {
  display: block;
  position: absolute;
  top: 10px;
  // bottom: 0;
  left: 50%;
  // right: 0;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  z-index: $z-index-main - 2;
  transition: all 2s ease-out;
  &.ink-blot-show {
    width: 100%;
    height: calc(100% - 10px);
  }
  .ink-blot-bg {
    fill: $custom-pink;
  }
}

.ink-bottle {
  display: block;
  position: absolute;
  // top: -2%;
  bottom: calc(100% - 95px);
  // left: 3%;
  left: 19%;
  width: 250px;
  // width: 20%;
  // max-width: 275px;
  z-index: $z-index-main - 1;
  transition: all $ink-bottle-anim-speed cubic-bezier(.75,0,1,.5);
  transform: rotate(0deg);

  .bottle-background-fill {
    fill: $glass-color;
  }
  .bottle-ink-fill {
    fill: $custom-pink;
    transition: opacity 0.5s linear
  }
  .bottle-border-fill {
    fill: $primary-dark;
  }
  .bottle-shine-fill {
    fill: $primary-light;
  }
  .ink-not-tipped {
    opacity: 1;
  }
  .ink-tipped-right, .ink-tipped-left {
    opacity: 0;
  }
  &.bottle-tipped {
    transform: rotate(54deg);
    transform-origin: 78% 96%;
    .ink-not-tipped {
      opacity: 0;
    }
    .ink-tipped-right {
      opacity: 1;
    }
  }
}

@media #{$bp-tablet-portrait-down} {
  .ink-bottle {
    bottom: calc(100% - 75px);
    width: 200px;
    left: 10%;
  }
}

@media #{$bp-mobile} {
  .ink-bottle {
    bottom: calc(100% - 40px);
    width: 140px;
    left: 2%;
  }
}